modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_PASSWORD_HASH = "RinMC123"
ADMIN_USERNAME = "admin"
DISCORD_WEBHOOK_URL = "https://discord.com/api/webhooks/1528192463939043448/jjHMbA_3KnQSzHnrMjhzdG-phaIwprIjH6pnXe75AQoXmn6kFGh-5ms-k3TEySvCRZwA"
PROMPTPAY_NUMBER = "1578736502"
SHOP_NAME = "รินจัดให้"

[nix]
channel = "stable-25_05"
